@font-face {
  font-family: "martin-mono";
  src: url("/code/assets/fonts/martian-mono/static/MartianMono-Regular.ttf");
  src: url("/code/assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf");
  src: url("/code/assets/fonts/martian-mono/static/MartianMono-Bold.ttf");
}

/* COLOR PALETTE */

:root {
  --neutral-900: #062630;
  --neutral-700: #385159;
  --neutral-200: #e6e1df;
  --neutral-100: #faf5f3;
  --neutral-0: #ffffff;
  --light-salmon-500: #fea36f;
  --light-salmon-100: #ffe2d1;
  --light-salmon-50: #fff5ef;
}

/* SPACING */

:root {
  --spacing-0: 0;
  --spacing-025: 0.2rem;
  --spacing-50: 0.4rem;
  --spacing-075: 0.6rem;
  --spacing-100: 0.8rem;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-250: 2rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-800: 6.4rem;
  --spacing-1000: 8rem;
}

/* BORDER RADIUS */
:root {
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

body {
  font-family: "martin-mono", sans-serif;
  font-family: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-0);
}

.header {
  background-color: var(--neutral-100);
  padding-top: 3.2rem;
  padding-left: 135px;
  padding-right: 135px;
}

.section-hero {
  background-color: var(--neutral-100);
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding-left: 13.5rem;
  padding-right: 13.5rem;
  padding-bottom: 6.6rem;
  /* max-height: 600px;
  padding-left: 135px;
  padding-right: 135px; */
}

/* .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 117.5rem;
  margin: 0 auto;
} */

.section-hero-copy {
  max-width: 50%;
}

.section-hero-headline {
  font-size: 6.2rem;
  line-height: 1.2;
  letter-spacing: -2px;
}

.section-hero-description {
  margin-top: 2.4rem;
  color: var(--neutral-700);
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.section-hero-cta {
  margin-top: 3.2rem;
  display: flex;
  padding: 20px 24px;
  color: var(--neutral-900);
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -1px;
  gap: 4px;
  background-color: var(--light-salmon-50);
  max-width: 380px;
  border: 1px solid;
  border-radius: 8px;
}

.social-proof {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 6px;
}

.avatar {
  height: 40px;
  width: 40x;
}

.avatar img {
  height: 100%;
  width: 100%;
}

.social-proof-data {
  display: flex;
  flex-direction: column;
}

social-proof-data p {
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: -1px;
  color: var(--neutral-700);
}

.star-list {
  display: flex;
}

.section-hero-img-wrapper {
}

.section-hero-img {
  width: 100%;
  max-width: 54rem;
  border-radius: 10px;
}

/*  SECTION FEATURES */

.section-features {
  display: flex;
  flex-direction: column;
  gap: 112px;
  padding-left: 13.5rem;
  padding-right: 13.5rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.section-features-detail {
  display: flex;
  gap: 80px;
  align-items: center;
}

.section-features-text {
  flex: 1;
  max-width: 50%;
}

.section-features-title {
  color: var(--neutral-900);
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: -2px;
}

.section-features-img-wrapper {
  flex: 1;
  max-width: 50%;
}

.section-features-img-wrapper img {
  width: 100%;
}

.section-features-list {
  margin-top: 3.4rem;
  color: var(--neutral-700);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-features-list li {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.section-features-value-proposition {
  color: var(--neutral-700);
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

.section-steps {
  margin-left: 13.5rem;
  margin-right: 13.5rem;
  background-color: var(--neutral-100);
  padding-top: 8rem;
  min-height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
  gap: 30px;
  border-radius: 10px;
}

.section-steps-title {
  color: var(--neutral-900);
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: -2px;
  max-width: 51.2rem;
  text-align: center;
}

.section-steps-list {
  display: flex;
  color: var(--neutral-900);
  gap: 1rem;
}

.section-steps-list li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-steps-list li > p {
  margin-top: 0.8rem;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -1px;
}

.last-step {
  visibility: hidden;
}

.section-member-options {
  margin: 12rem 23.5rem;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.section-member-options-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.section-member-options-title {
  font-size: 5rem;
  line-height: 1.3;
  letter-spacing: -2px;
  text-align: center;
}

.section-member-option {
  min-width: 26.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  border: var(--neutral-200) solid 1px;
  padding: 2.4rem;
  border-radius: 8px;
}

.section-member-option-main {
  flex: 1;
  background-color: var(--neutral-100);
}

.section-member-option-title {
  font-size: 2.4rem;
  line-height: 1.1;
  letter-spacing: -1px;
  color: var(--neutral-900);
}

.section-member-option-pricing {
  display: flex;
  align-items: center;
}

.section-member-option-pricing strong {
  font-size: 3.4rem;
  line-height: 1.3;
  letter-spacing: -1px;
  color: var(--neutral-900);
}

.section-member-option-pricing span {
  color: var(--neutral-700);
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.section-member-option-perks li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1.6rem;
}

.section-member-option-perks li > p {
  color: var(--neutral-700);
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: -0.5px;
}

.section-member-option-perks-cta {
  padding: 2rem 4.3rem;
  background-color: var(--light-salmon-50);
  border: var(--neutral-900) 2px solid;
  border-radius: 8px;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -0.5px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
